/*
Galaxy Note
*/

@media screen and (min-device-width:200px) and (max-device-width:420px) {

    html,
    body {
        height: 100%;
        position: absolute;
    }

    .filter {
        display: none;
    }

    html {
        box-sizing: border-box;
    }

    body {
        box-sizing: inherit;
        position: absolute;
        margin: 0;
        min-height: 100%;
        padding-bottom: 200px;
    }

    header {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas:
            "search-bar"
            "title-area";
        height: 10vh;
        position: fixed;
        top: 0px;
        z-index: 1;
    }

    .main-section {
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
    }

    article {
        width: 100vw;
        background-color: #007BB6;
        text-align: justify;
        text-justify: inter-word;
        padding-left: 1em;
        padding-right: 1em;
        box-sizing: border-box;
        border: 0.5em solid #55ACEE;
        margin-bottom: 10px;
        color: white;
    }

    article>h2 {
        color: #CCCCCC;
        text-align: center;
    }

    .search-bar-area {
        background-color: rgba(39, 55, 70, 0.9);
        display: flex;
        align-items: center;
        justify-content: right;
        width: 100vw;
        height: 15vh;
        margin: 0px;
        grid-area: search-bar;
    }

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .search-bar-area i {
        color: white;
        padding-right: 20px;
        padding-left: 20px;
    }

    .title-area {
        background-color: rgba(39, 55, 70, 0.9);
        display: flex;
        display: none;
        align-items: center;
        align-content: center;
        width: 100vw;
        height: 50px;
        margin: 0px;
        color: white;
        box-shadow: -3px 10px 15px -8px rgba(0, 0, 0, 0.75);

    }

    .logo-area {
        display: none;
    }

    .coffe-image-area {
        display: none;
    }

    .welcome-message {
        display: none;
    }

    .left-menu {
        display: none;
    }

    .search-bar input {
        font-size: 20px;
        height: 40%;
        margin-left: 20px;
        border-radius: 16px;
        padding-left: 10px;
        color: grey;
        box-sizing: border-box;
        border: 3px solid #ccc;
        transition: 0.5s;
        outline: none;
        width: 100%;
        animation-name: searchBar;
        animation-duration: 0.3s;

    }

    .search-bar input:focus {
        border: 3px solid #55ACEE;
    }

    .search-input {
        display: none;
    }

    footer {
        display: block;
        height: 40px;
        background-color: rgba(39, 55, 70, 0.9);
        width: 100vw;
        bottom: 0;
        left: 0;
        color: white;
        right: 0;
    }

    @keyframes searchBar {
        from {
            width: 0px;
        }

        to {
            width: 100%;
        }
    }

}